@import url('https://fonts.googleapis.com/css?family=Play&display=swap');


*, body, html {
	padding: 0; 
	margin: 0;  
	box-sizing: border-box;  
font-family: 'Play', sans-serif;
}
li { 
	list-style: none;
}
a, input, button, li, textarea, .content__item, 	.header-mobile-btn, .burger-btn { 
	text-decoration: none;
	outline: none; 
	cursor: pointer; 
	border: none;
}
.dropmenu, .burger-btn, .following, .container, .content__list, .content__item, .news, .header-mobile-btn, header, header ul.nav-menu, .contacts, form.contacts__form, footer.footer, .swiper-container-sec .swiper-slide, .cards__list, .cards__titles, .cards__titles ul  {
	display: flex; 
} 
a.nav-menu__item, .dropmenu li, .contacts__form-wrap, .content, .tabs a, .tabs-item:first-child {
	display: block;
} 
 header, .contacts, .following, .dropmenu, .contacts__form-wrap, .burger-btn, .content__list, .content__item, ul.news__list, footer.footer  {
	align-items: center; 
 }
 .dropmenu, .burger-btn, .news, ul.news__list{
	flex-direction: column;
 }
.dropmenu li, .news__category-tab, .tabs, .tabs li  { 
	position: relative; 
}

/*header*/
header {  
	position: fixed; 
	flex-wrap: wrap;
	width: 100%;
	background: #ffad5f;  
	justify-content: space-around;
	font-size: 25px;  
	color: #000;   
	top: 0;
	z-index: 130;  
}
header nav {
	display: flex;
	overflow: hidden;
	transition: .4s ease;
}

a.nav-menu__item { 
	font-size: 22px;
	padding: 15px;  
	color: #000;
	transition: .4s ease; 
} 
ul.nav-menu li {
	position: relative;
	display: block;
} 
nav.mobile-active {
	max-height: 270px;
}
nav.mobile-active {
    display: flex;
}
nav.mobile-active ul {
	flex-wrap: wrap;
	background: #da8d44;
}
nav.mobile-active ul li {
	width: 100%;
}
.contacts { 
	max-width: 431px; 
	font-weight: 700;
	color: #da8d44;`
} 
.header-mobile-btn {  
	display: none;
} 
.header-mobile-btn img {
	width: 40px; 
}  
 

/*hide content block in header items */
.hide-content-item {     
	position: absolute;  
	background: #fff; 
	width: 300px;   
	box-shadow: -11px 15px 20px 0px #00000040;
	transform: scale(0);
	opacity: 0; 
	transition: transform .15s, opacity .3s, -webkit-transform .15s;
	z-index: 0; 
	border-top-left-radius: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}    
.hide-content-item li a { 
	display: block; 
	color: #333;  
	margin: 0 auto; 
	text-align: center;  
	padding: 10px;
	border: 0 0 10px 10px;	
}  
ul.nav-menu li:hover {
	background: #fff; 
} 
ul.nav-menu li:hover ul.hide-content-item {
opacity: 1;
transform: scale(1);
z-index: 120;
} 
.hide-content-item li a:hover {
    background: #da8d44;
    color: #fff;
} 
.dropmenu {
	position: fixed;
	height: 100%;
	max-width: 300px;   
	width: 100%;
	top: 0; 
	left: -290px; 
	font-size: 20px;   
	font-family: MONOSPACE; 
	background: #484848;  
	justify-content: space-evenly;
	transition: .4s ease;
	z-index: 100; 
	color: #fff;
}
.dropmenu li:before {
	content: '';
	position: absolute;
	width: 40%; 
	height: 3px;
	background: #f1a800;
	bottom: -5px; 
	transition: .4s ease; 
}
.dropmenu li:hover:before { 
	width: 110%;  
} 
.contacts__form-wrap {  
	position: fixed;
	z-index: 145; 
	background: rgba(0,0,0,0.75);
	top: 0;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	justify-content: center;  
	bottom: 0; 
	transform: translateX(100%); 
	transition: .4s; 
} 	
.contacts__form-wrap button {
	font-size: 30px; 
	padding: 11px 50px; 
	border: none;  
	background: #333;
	color: #fff;
} 
form.contacts__form { 
	position: absolute;
	top: 50%; 
	left: 50%;   
	transform: translate(-50%, -50%); 
	max-width: 1100px;  
	width: 95%;
	align-items: stretch;
	justify-content: space-between; 
	background: #fff;
}
form.contacts__form input { 
	width: 90%;
	border: none;
	font-size: 35px; 
	padding: 30px;
	background: no-repeat;
	color: #777;
	box-shadow: 0 0 19px 5px #00000096;
} 
.burger-btn { 
	position: absolute;
	width: 80px;  
	height: 70px;  
	background: #484848; 
	right: -75px;
	z-index: 50;
	bottom: 0;   
	justify-content: space-evenly;
	box-shadow: 3px 5px 4px 0px #00000057; 
}  
.burger-btn span { 
	display: inline-block; 
	height: 3px;  
	width: 50px;  
	background: #fff; 
	transition: .4s ease; 
} 
.burger-btn.active span:first-child {
	transform: rotate(-12deg); 
} 
.burger-btn.active span:last-child { 
	transform: rotate(12deg);
}
header button.search-btn {
    background: transparent;
}
header button.search-btn img {
	width: 35px; 
	transition: .4s ease;
} 
header button.search-btn img:hover, header button.search-btn img:focus {
	transform: scale(0.85);
}
header.small {
    font-size: 1.3em;
    box-shadow: -2px -7px 20px 0px rgba(0, 0, 0, 0.7);
}
header.small .nav-menu li a {
    font-size: 0.9em;
}
header.small button.search-btn {
	padding: 3px 15px;
}
header.small button.search-btn img {
	width: 28px;
} 
.dropmenu.open { 
	left: 0;  
	z-index: 150;
} 
.dropmenu.open .burger-btn span:nth-child(2) {
	display: none;
} 
.dropmenu.open .burger-btn span:nth-child(1) {
	transform: rotate(45deg);
	margin-top: 31px;
} 
.dropmenu.open .burger-btn span:nth-child(3) {
	transform: rotate(-45deg);
	margin-bottom: 34px; 
}
ul.dropmenu.open:before { 
  content: ''; 
  position: absolute;
  height: 100%;
  z-index: 40; 
  background: #0000006b;
  top: 0;
  width: 600%;
  left: 300px;
}

/*content part*/
.content {   
	font-size: 20px; 
	text-align: center;
	width: 70%;
	height: 100%;
	padding: 30px;   
	transition: .4s ease;
} 
.container {   
	overflow-x: hidden;  
	margin-top: 50px;
}
.dropmenu-mobile { 
	display: none;
}
.to-right {
	transform: translateX(283px)
} 
.content__list, .content__item { 
	justify-content: flex-end;
	flex-wrap: wrap; 
}   
.content__item {
	position: relative;
	margin: 10px 0px 10px 20px;
	padding: 20px;
	height: 250px; 
	/*max-width: 580px;*/
	width: 95%;
	background: #f5f5f5; 

} 
.content__item:before, .content__item:after {
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: .75em;
    left: .18em;
    width: 40%;
    height: 20%;
    max-height: 13em;
    box-shadow: 0 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.content__item:after {
    right: .75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}
.content .text { 
	margin-bottom: 10px;
	padding: 25px;
	background: #fff; 
} 
.news__item {  
	color: #000;
	width: 100%;   
	height: 230px; 
	padding: 20px;  
	margin-bottom: 5px;
	border: 1px solid #ddd; 
	background: #fff;
	transition: .4s;
} 
.news__item:hover {
	background-color: #bbbaba;
	transform: scale(0.97);
}
.news__item > h4 {
	font-size: 25px;
	font-weight: 700;
}
.news { 
	max-width: 570px;   
	width: 100%;
	transition: .4s ease;  
	margin-top: 27px;	
}  
ul.news__list {
	text-align: center; 
	width: 100%; 
	justify-content: center;
	max-height: 700px;
	overflow-y: scroll;
	margin-bottom: 20px;	 
}
.news__list li { 
	width: 100%; 
}   
/* tabs */    
.news__category-tab {
	overflow: hidden;
	margin: 0 auto;
}
.tabs {
	display: flex;
	overflow: hidden; 
	margin: 0; 
	width: 100%;
	border-bottom: 3px solid #333;
}
.tabs li {
	overflow: hidden; 
	padding: 0;
	margin-right: 10px;
}   
.tabs a { 
	background-color: #fff;
	color: #888; 
	font-weight: 500;
	letter-spacing: 0;
	outline: none; 
	padding: 15px; 
	font-size: 19px; 
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}  
.tabs a:hover {   
	background: #333; 
	color: #fff;
}
.tabs-item {
	display: none;
	padding: 30px 0; 
}
.tabs-item h4 { 
	font-weight: bold;
	color: #333;
	font-size: 20px; 
	margin-bottom: 20px; 
}
.tabs-item img {
	width: 200px; 
	float: left;
	margin-right: 30px; 
}  
.tab-content { 
	background: #fff;
	min-height: 300px;
}
.current a { 
	color: #fff;
	background: #333;
}
.to-right2 {
	transform: translateX(284px);
}
.swiper-button-prev, .swiper-button-next, .swiper-slide {
	outline: none;
}   
.swiper-container { 
	border: 1px solid #ddd;
}
.swiper-container .swiper-container-h {
	position: fixed;
}  
.swiper-slide {
	background: #f5f5f5;     
	text-align: center; 
} 	  
.swiper-pagination-bullet {  
	width: 15px;  
	height: 3px; 
	color: #fff;  
	border-radius: 0;
}
.swiper-pagination-bullet-active {
	background-color: #777;  
} 
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	bottom: 20px;
}   
.swiper-container-sec { 
height: 350px; 
padding: 35px 0;
border: none;
}
.swiper-container-sec .swiper-slide {
align-items: center;
justify-content: center;
} 
.swiper-scrollbar-drag {
	background: rgb(255, 173, 95);
}
.to-left{ 
	transform: translate(0); 
}  
.logo {
	font-weight: 700;
	color: #da8d44;
} 
.following {
    background: #ffad5f;
    padding: 20px;
    justify-content: center;
    border-top: 5px solid #da8d44;
} 
.following form input, .following form button {
    padding: 20px;
    font-size: 20px;
    transition: .4s ease;
}
.following form { 
	margin-left: 30px; 
		width: 100%;
	max-width: 900px;  
}
.following h3 {
    font-size: 30px;
    color: #da8d44;
} 
.following form input {
	width: 70%; 
	background: #dcdcdc;
} 
.following form input:focus {
	background: #fff;
	width: 85%;
}
.following form button {
	background: #333;
	color: #da8d44; 	
}
/* footer */
footer.footer {
	background: #333;
	justify-content: space-around;
	padding: 30px;
}
.footer__list li a {
	display: block;
	color: #777;
} 
footer .logo {
    color: #777;
    font-size: 25px;
}
ul.hide-content-item li hover:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
ul.hide-content-item li a:hover:last-of-type {  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 15px;
}
ul.nav-menu li:first-child ul.hide-content-item li a:hover:first-of-type, ul.hide-content-item li:hover:first-of-type {
    border-top-left-radius: 15px;
}
ul.hide-content-item li:hover:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul.hide-content-item li:hover:first-of-type {
    border-top-right-radius: 15px;
}
ul.nav-menu li:first-child ul.hide-content-item {
    left: -148px;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
}
ul.nav-menu li:first-child ul.hide-content-item li a:hover:first-of-type {
    border-top-right-radius: 0;
}
/* answer and questions section *******************************/
.answers {
	padding: 20px 0; 
	text-align: justify; 
}
.answers__accordion { 
  display: block;
  position: relative;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;     
  font-size: 20px;	
}
	h2 {
	padding-bottom: 30px; 
  text-align: center;
  font-size: 35px;
  color: #ececec;
}
.answers__title {
  position: relative;
  background: #f7f6f6;
    text-align: center; 
    margin-bottom: 1px; 
    cursor: pointer;
    padding: 10px;
} 
.answers__title:before {
  position: absolute; 
  content: '';  
  width: 30px;
  z-index: 90; 
  height: 25px;
  left: 0;
  background: url(https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_right-512.png) no-repeat center;
  background-size: 50%;
}
 .answers__item {  
    margin-bottom: 5px; 
}
.answers__item .answers__text {
	max-height: 0;            
    overflow-y: hidden;
    background: #fff;
    transition: .2s ease;  
    padding: 0 15px;  
}  
.answers__item.active .answers__text {
	  max-height: 120px; 
	  padding: 15px;
}
.answers__item.active .answers__title:before {
    transform: rotate(90deg);
}

/* productsss*/
.cards {
	max-width: 1500px;
	margin: 0 auto;
}
.cards__list, .cards__titles { 
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;  
    width: 100%;
    margin: 0 auto;
} 
.cards__titles {
	flex-direction: column; 
}
.cards__titles > div {
    margin: 15px 0;
}
.cards__item img { 
    width: 100%;
} 
.cards__item { 
	position: relative; 
   max-width: 285px;
   margin: 5px; 
   padding: 10px;
   box-shadow: 0px 0px 4px 0px #0000004a;
   transform: scale(1);
   opacity: 1;
}  
.cards__item:hover {
    transform: scale(0.98)
}
.cards__titles .cards__titles-list {
	position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cards__titles h2 {
    padding: 0; 
    margin: 15px 0 10px;
}
.cards__titles-item {
    display: block;
    padding: 10px 30px;
    border: 1px solid #ddd;
    color: #ddd; 
    transition: .3s ease;
    font-size: 22px; 
}
.cards__titles-item.focus, li.in-row.focus a{
    border: 1px solid #555;
    color: #555; 
}
.cards__item .sale, .cards__item .top, .cards__item .present { 
	display: block;
	position: absolute; 
	top: 25px;
	padding: 5px; 
	color: #fff;
}
.cards__item .sale {
	transform: rotate(45deg); 
	right: 5px;
		background: #c50000;
}  
.cards__item .top {
    left: 5px;
    background: #007700ba;
} 
.cards__item .present { 
    transform: rotate(45deg);
    background: purple;
    right: 0;
} 
li.in-row a.cards__titles-item span {
    display: block;
    width: 35px;
    height: 2px; 
    background: #ddd; 
    position: relative;
    transition: .3s ease;
}
li.in-row .cards__titles-item span:before, li.in-row .cards__titles-item span:after {
    position: absolute;
    content: '';
    width: 100%;
    background: #ddd;
    height: 2px;
    left: 0;
    transition: .3s ease; 
} 
li.in-row.focus .cards__titles-item span, 
li.in-row.focus .cards__titles-item span:before, 
li.in-row.focus .cards__titles-item span:after {
    background: #555;
}
li.in-row .cards__titles-item span:before {
	top: 6px;
}
li.in-row .cards__titles-item span:after {
	bottom: 6px;
}
li.categories {
  position: absolute;
  left: 20px;
}
ul.categories__hide-list {
  flex-direction: column;
  border: 1px solid #ddd;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  transform: scale(0);
   opacity: 0; 
   transition: transform .15s, opacity .3s, -webkit-transform .15s;
  background: #fff;
  z-index: 10;
}
li.categories:hover .categories__hide-list {
	transform: scale(1);
	opacity: 1;
}
li.categories .cards__titles-item { 
	position: relative;
  border: none;
  border-bottom: 1px solid;
  padding-left: 2px;
  padding-right: 2px;
}
ul.categories__hide-list li a {
    display: block;
    font-size: 18px;
    padding: 10px;
}
ul.categories__hide-list li.active a {
    color: #000;
}
li.categories.cards__titles-item {
    border: none;
    border-bottom: 1px solid;
    padding: 5px;
}
.cards__item figure figcaption {
	margin: 10px 0;
} 
.cards__item .button {
    background: #ddd;
    color: #000; 
    font-size: 18px;
    width: 98%;
    padding: 10px 0;
   border: 1px solid #ddd;
}  
.cards__item.added {
    border: 1px solid #007700ba;
    transform: scale(0.98);
    box-shadow: none;
}
.cards__item.added button {
	background: #007700ba;
	color: #fff;
border: none;
}
.cards__item.added button:hover {
    border: none;
}
.cards__item {
    position: relative;
    max-width: 285px; 
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px #0000004a;
}
.cards__item.hide { 
	display: none;
}
.cards__item .button:hover { 
	border: 1px solid #555;
}
.cards__item-price {
	margin: 10px;   
}
		/* cards list small */
.cards__list.row .cards__item {
    display: inline-flex;  
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    max-width: 600px;
}
.cards__list.row .cards__item button { 
    max-width: 200px;
    width: 100%;
}
.cards__list.row .cards__item img {
    max-width: 110px; 
}
li.in-row { 
	position: absolute;
  margin-left: 40px;
  right: 20px;
}

/* cart */
.overlay {
	display: none;
    position: fixed; 
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.83);
    top: 0;
    left: 0; 
    z-index: 200;
}
.cart { 
    display: flex;
    position: fixed;
    flex-direction: column;  
    width: 95%;
    top: 50%;  
    height: 95%;
    left: 50%; 
    max-width: 1300px; 
    text-align: center;
    background: #fff;
    padding: 20px; 
    z-index: 135;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #00000033;
}
.cart > div:nth-child(2) {
    display: flex; 
    align-items: stretch; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}  
.cart h2, .cart h3 { 
	color: #ddd;
}
.cart h3 {
	font-size: 30px;
	margin-bottom: 25px;
} 

.cart__info { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.cart__count {
    display: flex;
    font-size: 18px;
    margin-right: 60px; 
    align-items: center;
}
.cart__count span.quantity-goods {
    background: #ffad5f;
    margin: 0 10px; 
    padding: 5px;
    border-radius: 0;
    font-weight: 600;
}
.cart__wrapper { 
	display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  min-height: 200px;
  overflow-y: scroll; 
  margin-top: 15px;
  flex-wrap: wrap;  
  background: #e5e5e5;
}
.cart__wrapper .cards__item {
  max-width: 230px;
  background: #fff;
}
.cart__close {
  position: absolute;
  right: 20px;
  display: block;
  cursor: pointer;
}
.cart__empty-text { 
  font-size: 20px; 
  color: #cbcbcb;
  padding: 10px;	
  margin: 15px 0;
} 
.cart__total-products { 
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
} 
.cart__total-price {  
	display: inline-block; 
  font-size: 21px; 
  color: #fff;
  text-align: center; 
  background: #ffad5f;
  margin: 0 5px;
  padding: 5px; 
}
.open-cart { 
    display: flex;
    align-items: center;
    cursor: pointer;
}
.open-cart svg {
    transition: .3s ease;
}
.open-cart:hover svg{
    transform: scale(1.15);
}
	.quantity-goods { 
		display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px;
    margin-left: 5px;
    font-size: 20px; 
    color: #fff;
    background: #ff3333;
    border-radius: 35px;
}

/*callback form in cart*/
.cart__form form {
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;
}
.cart__form {
    margin-top: 20px;
}
.cart__form form input, .cart__form form textarea {
    border: 1px solid #ddd;
    width: 100%;
    padding: 20px;
}
.cart__form .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.field label { 
    margin-bottom: 10px;
    width: 100%;	
    position: relative;
}
.field label .field__placeholder {
    transform: translateY(-50%);
    transition: all .3s ease;
    pointer-events: none;
    position: absolute;
    color: #000; 
    font-size: 1rem;
    left: 1rem; 
    top: 50%;
} 
.field__input {
    font-size: 19px;
}
.field label .field__input:focus ~ .field__placeholder, 
.field label .field__input:not(:focus):valid ~ .field__placeholder {
    transform: translateY(0);
    font-size: .7rem;
    top: .1rem;
    color: #999;
}

button.cart__form-btn {
    padding: 20px;
    font-size: 25px;
    width: 100%;
    color: #fff;
    background: #333;
    transition: .4s ease;
}
button.cart__form-btn:hover{
	background: #555;
}
.cart__form form textarea {
    min-height: 150px; 
}




/* media */
@media (max-width: 1199px) {  
	.container { 
		flex-wrap: wrap; 
	}
	.content {  
		width: 100%;
	}
	.content__item {
		margin: 0 0 20px 0;
	} 
	.news__item {
		height: 150px;
	} 
	.news {
		margin: 0 auto; 
	}
	a.nav-menu__item {
		font-size: 17px;
	}
} 

@media (max-width: 768px) {
	button.search-btn img {
		width: 25px; 
	}
	header {
		font-size: 20px; 
		padding: 5px 0;
	}
	.following {
		flex-direction: column;
	}
	.following form input, .following form button {
    padding: 13px; 
    font-size: 18px;
} 
.following form input {  
	margin-right: 10px;
}
.following h3 { 
	margin-bottom: 15px;
}
.following form {
	margin-left: 0;
	display: flex;
}
} 


@media (max-width: 568px)   	{   
	.dropmenu.open .burger-btn{ 
		top: 0; 
		left: 0;
		box-shadow: none; 
		width: 40px;	
	}
	.dropmenu.open .burger-btn span {
			width: 20px;
	}
	.news {
		margin-top: 0;
	} 

	.header-mobile-btn {  
		display: flex; 
		padding: 5px 0; 
		align-items: center;
		background: url('../img/arrw-white.svg') no-repeat center;
		order: 1;
		 width: 40px;
    height: 40px;
    background-size: 80%;
	} 
	header nav {
		max-height: 0;
	}

	header.mobile nav {
    display: flex;
}
header.mobile nav ul li ul {
    display: none;
}
header.mobile nav ul.nav-menu {
   flex-wrap: wrap;
}
header.mobile nav ul.nav-menu li {
    width: 100%;
}
header.header.mobile .header-mobile-btn {
    transform: rotate(180deg);
}
header.header.mobile nav {
    max-height: 260px;
    background: #da8d44;
}

	.dropmenu.open .burger-btn span:nth-child(1), .dropmenu.open .burger-btn span:nth-child(3) {
		margin: 0; 
		position: absolute;
		}
		.dropmenu.open .burger-btn span:nth-child(1) { 
				transform: rotate(-45deg);
				top: 20px;	
		}
		.dropmenu.open .burger-btn span:nth-child(3) { 
				transform: rotate(45deg);
				top: 32px;	
		}
	.open-cart {
		order: 2;
	}
	
		
			/* hide menu items */ 
		header .logo, header button.search-btn, header .contacts {
			display: none; 
		}  
		.news__category-tab .tabs a {
			padding: 5px 15px;
		}
		form.contacts__form {  
			width: 90%; 
		}
		form.contacts__form input {
			padding: 0;
			font-size: 20px;  
		} 
		.contacts__form-wrap button {
				font-size: 23px;
			 padding: 10px 25px;
	}
		.answers__accordion {
 			font-size: 15px;
 		}
}   
 
 @media (min-width: 567px) {
 		.cart__wrapper {
 		min-height: 325px;
 		}
 }